<p>admin works!</p>

<!-- add section -->
<button class="btn-success" (click)="showAddArticleForm()">Ajouter un article</button>


<div *ngIf="displayAddArticle">
    <h1>Add <Article></Article></h1>
    <form (ngSubmit)="addArticle()">
        <label for="label">Titre :</label>
        <input type="text" id="title" name="title" [(ngModel)]="article.title">
        <label for="exampleFormControlFile1">Example file input</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1" >
        <input type="text" id="title" name="title" [(ngModel)]="article.image">
        <input type="text" id="title" name="title" [(ngModel)]="article.content">
    
        <button>Add</button>
    </form>
</div>

<!--  update section-->
<button class="btn-primary" (click)="showEditArticleForm()">Modifier un article</button>




<div *ngIf="displayEditArticle">
    <h2>Modification de l'article</h2>
    <select [(ngModel)]="modifiedArticle" class="form-select" aria-label="Default select example">
        <option *ngFor="let item of articles" [ngValue]="item">{{item.title}}</option>
  
    </select>
    <form (ngSubmit)="update(modifiedArticle)">

        <label for="label">Label :</label>
        <input [(ngModel)]="modifiedArticle.title" type="text" name="label" id="label">
        <br>
        <label for="content">Contenu :</label>
        <input [(ngModel)]="modifiedArticle.content" type="text" name="content" id="content">
        <br>
        <input type="submit" value="Save" />
      </form>
</div>




<!-- Delete section -->
<button class="btn-danger" (click)="showDeleteArticleForm()">Supprimer un article</button>

<div *ngIf="displayDeleteArticle">
    <select [(ngModel)]="modifiedArticle" class="form-select" aria-label="Default select example">
        <option *ngFor="let item of articles" [ngValue]="item">{{item.title}}</option>
    </select>
    <button (click)="delete(modifiedArticle.id!)">Delete</button>
</div>

