
<button class="btn-success" (click)="showAddArticleForm()">Ajouter un article</button>


<div *ngIf="displayAddArticle">
    <h1>Add </h1>
    <form (ngSubmit)="addArticle()">
        <label for="label">Titre :</label>
        <input type="text" id="title" name="title" [(ngModel)]="article.title">
        <label for="exampleFormControlFile1">Example file input</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1" >
        <input type="text" id="title" name="title" [(ngModel)]="article.image">
        <input type="text" id="title" name="title" [(ngModel)]="article.content">
    
        <button>Add</button>
    </form>
</div>
