<p>home works!</p>

<ul>
    <li *ngFor="let item of articles">
        {{item.date|date}} : {{item.title}} {{item.content}}
        <div class="card" style="width: 18rem;">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
              <h5 class="card-title">{{item.title}}</h5>
              <p class="card-text" ></p>
              <a [routerLink]="['/article', item?.id]" class="btn btn-primary">Go somewhere</a>
              <a [routerLink]="['/article', item?.id]" class="card-link">See more</a>

            </div>
          </div>
    </li>
</ul>


<ul>
    <li *ngFor="let item of articles">
        <button (click)="delete(item.id!)">Delete</button>
        <button (click)="showEditForm(item)">Edit</button>
        {{item.date|date}} : {{item.title}} {{item.content}}
    </li>
</ul>

<div *ngIf="displayEditForm">
    <h2>Modification de l'opération</h2>
    <form (ngSubmit)="update(modifiedArticle)">
        <label for="label">Label :</label>
        <input [(ngModel)]="modifiedArticle.title" type="text" name="label" id="label">
        <br>
        <label for="amount">Amount :</label>
        <input [(ngModel)]="modifiedArticle.content" type="number" name="amount" id="amount">
        <br>
        <input type="submit" value="Save" />
      </form>
</div>

<button (click)="fetchOne()">Fetch one</button>

<div *ngIf="single">
    <h2>Selected Article</h2>
    <ul>
        <li *ngFor="let comment of single?.comments">{{comment.content}}</li>

    </ul>

    


</div>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{single?.title}}</h5>
        <!-- <h6 class="card-subtitle mb-2 text-muted">{{student?.mail}}</h6>
        <p class="card-text">Session : {{student?.session}}</p> -->

    </div>
</div>


